/* Partie user */

h1 {
    text-align: center;
}

.container-content {
    display: grid;
    place-content: center;
    grid-template-columns: 500px 100px;
    gap: 20px;
    background-color: hsla(200, 64%, 62%, 0.504);
    padding: 8px;
}

.container-content-options {
    display: grid;
    gap: 16px;
    grid-template-columns: 100px 1fr;
}

.container-content-options button {
    background-color: red;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    padding: 18px;
}

.container-content-options a {
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #43A047;
    padding-top: 18px;
    padding-bottom: 10px;
    border-radius: 15px;
}

/* Partie user-update */
.container-update {
    display: grid;
    place-content: center;
}

.container-update form {
    background-color: hsla(200, 64%, 62%, 0.504);
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5%;
    width: fit-content;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container-update form select,
input,
textarea {
    background: #f2f2f2;
    border: 0;
    box-sizing: border-box;
    margin: 0 0 15px;
    padding: 15px;
}

.container-update form button {
    text-transform: uppercase;
    background: #4CAF50;
    color: #FFFFFF;
    padding: 15px;
    border: 0;
    cursor: pointer;
}

.container-update form button:hover,
button:active,
button:focus {
    background: #43A047;
}