/* Partie posts */

h1 {
    text-align: center;
    margin: 50px;
}

.container {
    display: grid;
    place-items: center;
}

.container-content {
    display: grid;
    place-content: center;
    grid-template-columns: 500px 200px;
    gap: 20px;
    background-color: hsla(200, 64%, 62%, 0.504);
    padding: 32px;
}

.container-content-post p {
    font-weight: bold;
}

.bar:after {
    display:  block;
    content: "______________________________";
    letter-spacing: -3px;
    line-height: 0;    
}


.container-content-options {
    display: grid;
    gap: 16px;
    grid-template-columns: 100px 1fr;
}

.container-content-options button {
    background-color: red;
    border: none;
    color: #ffffff;
    padding: 18px;
}

.container-content-options a {
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #43A047;
    padding-top: 18px;
    padding-bottom: 10px;
}

/* Partie update post */

.container-post {
    display: grid;
    place-content: center;
}

#publication-form {
    background-color: hsla(200, 64%, 62%, 0.504);
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5%;
    width: fit-content;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#publication-form select,
input,
textarea {
    background: #f2f2f2;
    border: 0;
    box-sizing: border-box;
    margin: 0 0 15px;
    padding: 15px;
}

#publication-form button {
    text-transform: uppercase;
    background: #4CAF50;
    color: #FFFFFF;
    padding: 15px;
    border: 0;
    cursor: pointer;
}

#publication-form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

@media(max-width: 768px) {
    .container-content {
        display: grid;
        place-items: center;
        grid-template-columns: 250px;
        gap: 20px;
        background-color: hsla(200, 64%, 62%, 0.504);
        padding: 8px;
        text-align: center;
    }
    
    .container-content-post p {
        color: #f2f2f2;
        font-weight: bold;
    }

    .bar:before {
        display:  block;
        content: "______________________________";
        color: #f2f2f2;
        letter-spacing: -3px;
        line-height: 0;    
    }
    
    .bar:after {
        display: none;
    }
}