form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

form label {
    display: block;
    text-align: center;
}


form input[type="radio"] {
    display: none;
}

form label img {
    background-color: #71cdf4;
    width: 50%;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 15%;
}

form input[type="radio"]:checked+label img {
    border: 2px solid blue;
}

#submit {
    background-color: #71cdf4;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
