body {
    font-family: 'Lato', sans-serif;
}

.container {
    display: grid;
    place-items: center;
}

form {
    background-color: hsla(200, 64%, 62%, 0.504);
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5%;
    width: fit-content;
    margin-top: 10%;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form button {
    text-transform: uppercase;
    background: hsl(122, 39%, 49%);
    color: #FFFFFF;
    padding: 15px;
    border: 0;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

select,
textarea {
    background: #f2f2f2;
    border: 0;
    box-sizing: border-box;
    margin: 0 0 15px;
    padding: 15px;
}

.messages {
    /* background-color: hsla(200, 64%, 62%, 0.504); */
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 2%;
    padding: 1%;
    width: 50%;
}

.container a {
    background: #4CAF50;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px;
    border: 0;
    cursor: pointer;
}

.container h2 {
    background: #4CAF50;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px;
    margin: 5%;
    border: 0;
    cursor: pointer;
}

.messages a:hover {
    background: #43A047;
}

@media(max-width:768px) {
    .messages {
        height: 80px;
        width: 90%;
        margin-bottom: 50px;
    }

    .container h2 {
        font-size: 21px;
    }
}