.container{
    display: grid;
    place-items: center;
}

.users {
    background-color: #f5d94c;
    border: 1px solid black;
    border-radius: 1px;
    margin-bottom: 2%;
    margin-top: 1%;
    padding: 1%;
    width: 50%;
}
.users img{
    width: 200px;
    height: auto;
    overflow: hidden;
    border: 2px solid black;
}