.container{
    display: grid;
    place-items: center;
}

.users {
    background-color: hsla(200, 64%, 62%, 0.504);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 2%;
    padding: 1%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.answer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-notif {
    display: inline-block;
}

@media(max-width:768px){
    .users {
        width: 90%;
    }
}