.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-template-areas:
      "profile profile"
      "description description"
      "social social"
      "information information"
      "blogs blogs";
  gap: 20px;
}

.profile-picture {grid-area: profile;}

.profile-informations {grid-area: information;}

.profile-social{grid-area: social;}

.profile-description {grid-area: description;}

.profile-blogs {grid-area: blogs;}

h1 {
  text-align: center;
  margin-bottom: 32px;
}

.profile-picture {
  /* background-color: hsla(210, 80%, 50%, 0.8); */
  width: 100%;
  display: grid;
  place-items: center;
}

.profile-picture img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-informations {
  margin: auto;
  text-align: center;
}

.profile-informations a {
  background: #4CAF50;
  color: #FFFFFF;
  text-decoration: none;
  padding: 8px;
  border: 0;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.profile-social a {
  background: #4CAF50;
  color: #FFFFFF;
  text-decoration: none;
  padding: 8px;
  border: 0;
  cursor: pointer;
}

.profile-social button {
  background: #4CAF50;
  color: #FFFFFF;
  text-decoration: none;
  padding: 8px;
  border: 0;
  cursor: pointer;
}


.profile-blogs {
  max-width: 400px;
}

.profile-blogs a {
  background: #4CAF50;
  color: #FFFFFF;
  text-decoration: none;
  padding: 8px;
  border: 0;
  cursor: pointer;
}

.profile-blogs img {
  height: auto;
  max-width: 300px;
  margin-bottom: 20px;
}
/* Partie Responsive */

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 2fr;
  }
}