/* Partie Header */
header{
    background-color: #71cdf4;
    position: relative;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-areas:    "iconeburger logo user"
                        ;
}

.icone-burger{grid-area: iconeburger;}
.icone-logo{grid-area: logo;}
.icone-user{grid-area: user;}

.icone-user{
    height: auto;
    max-width: 20px;
}

.icone-burger{
    height: auto;
    max-width: 20px;
}

/* Partie Body */
body{
    background-color: #ffcb83;
}

.menu-nav{
    display: none;
}

/* Partie Footer */
footer {
    background-color: #71cdf4;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer ul li a {
    text-decoration: none;
    color: black;
}
footer ul  li {
    list-style-type: none;
}